div
{
    text-align: justify;
    background-color: goldenrod;
    font-size: 20px;
    width: 50%;
    font-family: monospace;
    align-self: center;
    align-content: center;
}

#first 
{
    background-color: chocolate;
    border: 4px dashed;
}

#sec
{
    background-color: lawngreen;
    border-radius: 40px;
    text-decoration:line-through ;
    text-transform: uppercase;
}